# Service directory path, relative to the system_server project root
SERVICES_DIR=./services

# API server
API_HOST=0.0.0.0
API_PORT=9000

# Service execution mode
USE_DOCKER=true
SERVICE_RUN_MODE=docker
